DATABASE_URL="postgresql://neondb_owner:npg_VXl8KQtESi1H@ep-raspy-haze-acvr52h6-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_VXl8KQtESi1H@ep-raspy-haze-acvr52h6.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

CRON_SECRET="dVbiX8l6cpuh/3kbm63sjfhDNHb53SMonlQjdtDqu9g="
STORY_RETENTION_DAYS="14"